$bodyPadding: 20px;
$headPaddingX: 6px;

$color-believe: #387aff;
$color-doubt: #f5009b;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  background: none !important;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6, p, span {
  font-family: 'Bahnschrift', Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-stretch: semi-condensed;
}

.event {
  width: 375px;
  background-color: #151822;
  border-radius: 15px;
  right: -110%;
  margin-top: 0px;
  max-height: 0px;
  color: #ffffff;
  font-size: 0.9rem;

  &.compact {
    font-size: 0.8rem;
  }

  .event-head {
    top: -12px;
    padding: 0px ($bodyPadding - $headPaddingX);
    width: 100%;

    .top-tag {
      font-size: 1rem;
    }
  }

  .event-body {
    padding: $bodyPadding;

    .title {
      font-size: 1.8em;
      line-height: 1em;
      margin-bottom: 0.4em;
    }
  }
}

.no-connection {
  top: 30px;
  right: 30px;
}

.text-wrap {
  background-color: #151822;
  border-radius: 5px;
  padding: 0px $headPaddingX;
}

.text-shadow {
  text-shadow: 2px 2px 0px #000000;
}

@import './prediction.scss';
@import './poll.scss';
@import './marquee.scss';
@import './transitions.scss';
@import '~bootstrap/scss/bootstrap.scss';
