$marqueeHeight: 5vh;

#marquee {
  height: $marqueeHeight;
  background: #1a1a1a;
  color: #ffffff;
  font-size: calc($marqueeHeight / 2);
  margin-top: -$marqueeHeight;
  border-top: 5px solid #a90000;
  border-bottom: 5px solid #a90000;

  .marquee-title {
    padding: 5px 20px 0px;
    background-color: #a90000;
    font-weight: 800;
    z-index: 1;
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .marquee-content {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 5px;

    .marquee-text {
      white-space: nowrap;

      img {
        margin-left: 15px;
        margin-right: 15px;
      }
    }
  }
}

.scroll-text {
  animation: textScroll 20s linear infinite;
}

@keyframes textScroll {
  from {
    transform: translateX(40%);
  }
  to {
    transform: translateX(-100%);
  }
}
