@import './marquee';

$-edgeSize: 30px;

$-slideDuration: 0.5s;
$-heightDuration: 1s;
$-marginDuration: 0.4s;
$-delay: $-slideDuration;

.event-enter {
  right: -110% !important;
  margin-top: 0px;
  max-height: 0px;

  &-active,
  &-done {
    right: calc(0% + $-edgeSize) !important;
    margin-top: $-edgeSize;
    max-height: 300px;
  }

  &-active {
    transition:
      margin-top $-marginDuration ease,
      max-height $-heightDuration ease,
      right $-slideDuration ease $-delay,
  }
}

.event-exit {
  right: calc(0% + $-edgeSize) !important;
  margin-top: $-edgeSize;
  max-height: 300px;

  &-active,
  &-done {
    right: -110% !important;
    margin-top: 0px;
    max-height: 0px;
  }

  &-active {
    transition:
      right $-slideDuration ease,
      margin-top $-marginDuration ease $-delay,
      max-height $-heightDuration ease $-delay;
  }
}

.poll-trophy-appear,
.poll-trophy-enter {
  left: 0px !important;

  &-active,
  &-done {
    left: -35px !important;
  }

  &-active {
    transition: left $-slideDuration ease;
  }
}

.marquee-appear,
.marquee-enter {
  margin-top: -$marqueeHeight !important;

  &-active,
  &-done {
    margin-top: 0 !important;
  }

  &-active {
    transition: margin-top 0.25s ease;
  }
}

.marquee-exit {
  margin-top: 0 !important;

  &-active,
  &-done {
    margin-top: -$marqueeHeight !important;
  }

  &-active {
    transition: margin-top 0.25s ease;
  }
}
