@use './prediction';
@use './poll';
@use './marquee';
@use './transitions';

$bodyPadding: 20px;
$headPaddingX: 6px;
$fontSize: 1.25rem;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  background: none !important;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6, p, span {
  font-family: 'Bahnschrift', Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-stretch: semi-condensed;
}

.event {
  width: calc($fontSize * 25);
  min-width: 15vw;
  right: -110%;
  margin-top: 0px;
  max-height: 0px;
  color: #ffffff;
  font-size: $fontSize;

  &.compact {
    font-size: 0.8rem;
  }

  .event-head {
    top: -$fontSize;
    width: 100%;
    padding: 0px ($bodyPadding - $headPaddingX);

    .top-tag {
      font-size: 1.3em;
      background-color: #151822;
      border-radius: 5px;
      padding: 0px $headPaddingX;
    }
  }

  .event-body {
    padding: calc($bodyPadding + 10px) $bodyPadding $bodyPadding;
    background-color: #151822;
    border-radius: 15px;

    .title {
      font-size: 2em;
      line-height: 1em;
      margin-bottom: 1rem;
    }
  }
}

.no-connection {
  top: 30px;
  right: 30px;
}

.text-shadow {
  text-shadow: 2px 2px 0px #000000;
}
